# PostgreSQL — avec Docker Compose du projet : port 5433 (évite le conflit avec un Postgres sur 5432)
DATABASE_URL=postgresql://nutrifish:nutrifish@localhost:5433/nutrifish_gmao?schema=public

# NextAuth (à configurer au module Auth)
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
